@charset "UTF-8";

/* すべてのページに適用 - ヘッダー */
main h1 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding:0 0 5px 0;
    color:#663300;
    font-size:1.8rem;

}
.nav ul {
  margin-bottom:100px;
  padding: 0;
  text-decoration: none; /* 下線を消す */
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 150px;
  font-size: 1.2rem;
}
.list1 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
 /* width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
  /*background-color: #FFFAF0; /* 背景色 */
  /*border: 2px solid #663300; /* 枠線 */
 /* border-radius: 35px; /* 角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
  /*transition: background-color 0.3s ease; /* 背景色の変化にトランジションを適用 */
}
/*.list1 img {
  display: grid; グリッドレイアウトを使用
  grid-template-columns: auto 1fr; /画像とテキストの列を定義
  align-items: right; /右側揃え
  /*margin-bottom: 0px; リストアイテム間のスペースを追加
  <img src="./img/images/cathead.png" width="70" height="45"> htmlに入れる画像コード
}*/
.list2 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
 /* width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
 /* background-color: #FFFAF0; /* 背景色 */
 /* border: 2px solid #663300; /* 枠線 */
 /* border-radius: 35px; /* 角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
  /*transition: background-color 0.3s ease; /* 背景色の変化にトランジションを適用 */
}
.list3 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
  /*width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
 /* background-color: #FFFAF0; /* 背景色 */
 /* border: 2px solid #663300; /* 枠線 */
 /* border-radius: 35px; /* 角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
 /* transition: background-color 0.3s ease; /* 背景色の変化にトランジションを適用 */
}
.list4 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
 /* width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
  /*background-color: #FFFAF0; /* 背景色 */
 /* border: 2px solid #663300; 枠線 */
 /* border-radius: 35px;  角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
 /* transition: background-color 0.3s ease*; / 背景色の変化にトランジションを適用 */
}
/*.list4 img {
  display: grid; グリッドレイアウトを使用
  grid-template-columns: auto 1fr;  画像とテキストの列を定義
  align-items: right; 中央揃え
  margin-bottom: 0px; リストアイテム間のスペースを追加
  <img src="./img/images/catshipo1.png" width="60" height="50"> htmlに入れる画像コード
}*/
.list5 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
}
.nav a:link {
  color:#663300;
  text-decoration: none; /* 下線を消す */
}
.nav a:visited {
  color: #663300;
}
.nav a:hover {
  color: #663300;
  text-decoration: underline;
}
.nav a:active {
  color: #663300;
  text-decoration: none;
}
main h1 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding:0 0 5px 0;
    color:#663300;
    font-size:1.8rem;

}

main h2 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding: 0 0 5px 0;
    color: #663300;
    font-size:2rem;
}
.logout {
	text-align:right;
}
input[type=submit], input[type=reset] {
  width: 6em;
  height: 40px;
  text-align:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* すべてのページに適用 - フッター */
.gotop {
    text-align: center;
}
.copyright {
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #D2B48C;
    color: #FFFFFF;
    text-align: center;
}
form {
  padding: 0px;
  color:#663300;
  text-align:center;
  margin-bottom:100px;
  margin-top:100px;
}.dm { /*ログインフォームの位置*/
   display: grid;
   place-items: center; /* 水平方向と垂直方向に中央配置 */
   margin-bottom:100px; /*フォーム下のマージン調整*/

}
input[name=user_name] {
  margin-bottom:25px;
  width:13em;
  height: 30px;
  text-align:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
input[type=submit], input[type=reset] {
  width: 6em;
  height: 40px;
  text-align:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*dmtalkのフォームの作成*/
#chat {
  width: 98%;
  height: 500px;
  border: 4px ridge #996633;
  padding: 10px;
  overflow-y: scroll;
}
#inputArea {
            display: flex;
            margin-top: 10px;
}
#inputArea input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 4px ridge #D2B48C;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#inputArea button {
  padding: 10px;
  font-size: 16px;
  border: 4px ridge #D2B48C;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.groupform {
  display: inline-block;
  width:600px;/*フォーム全体の幅を広げる*/
  padding-bottom:30px;/*要素下の幅調整*/
  padding-top:30px;/*要素上の幅調整*/
  font-size: 25px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 50px; /* 下のマージン */
  margin-top:30px;/*フォーム外のtopの調整*/
  margin-right:30px;
  margin-left:30px;
  width: 15em;/*フォームの横の長さ*/
  text-align:center;/*文字を真ん中にする*/
  background-color: #FFFAF0; /* 背景色 */
  border: 8px double #996633; /* 枠線 */
  border-radius: 45px; /* 角の丸み（丸くするために大きめに設定） */
}

/*
#dm_detail:before,#dm_detail:after {
clear: both;
content: "";
display: block;
}
#dm_detail {
position: relative;
padding: 10px;
border: 1px solid #aaa;
border-radius: 10px;
max-width: -webkit-calc(100% - 80px);
max-width: calc(100% - 80px);
display: inline-block;
}
#dm_detail {
float: left;
}
#dm_detail {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}





#dmLeft {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  max-width: 80%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 15px;
}

#dmLeft {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

#dmLeft {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
*/

#dmLeft {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 80%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 15px;
}

#dmLeft:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #e0edff;
  z-index: 2;
}

#dmLeft:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

#dmRight {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: -80%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 15px;
}

#dmRight:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}

#dmRight:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}