@charset "UTF-8";

/* すべてのページに適用 - ヘッダー */
main h1 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding:0 0 5px 0;
    color:#663300;
    font-size:1.8rem;

}
.nav ul {
  margin-bottom:100px;
  padding: 0;
  text-decoration: none; /* 下線を消す */
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 150px;
  font-size: 1.2rem;
}
.nav a:link {
  color:#663300;
  text-decoration: none; /* 下線を消す */
}
.nav a:visited {
  color: #663300;
}
.nav a:hover {
  color: #663300;
  text-decoration: underline;
}
.nav a:active {
  color: #663300;
  text-decoration: none;
}
main h1 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding:0 0 5px 0;
    color:#663300;
    font-size:1.8rem;
}
main h2 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding: 0 0 5px 0;
    color: #663300;
    font-size:2rem;
}
.logout {
	text-align:right;
}
/* すべてのページに適用 - フッター */
.gotop {
    text-align: center;
}
.copyright {
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #D2B48C;
    color: #FFFFFF;
    text-align: center;
}
form {
  padding: 0px;
  color:#663300;
  text-align:center;
  margin-bottom:100px;
  margin-top:100px;
}
.day_of_week { /* カレンダー大枠 */
  padding: 200px 200px; /* 余白 */
  border:1px brown solid; /* 罫線 */
}
.button_center{
  text-align:center;
}
.day_of_week_thead { /* 曜日の行 */
  padding: 10px 10px;
  border:1px brown solid;
}
.mod_calendar { /*中央揃え*/
	  display: grid;
  place-items: center; /* 水平方向と垂直方向に中央配置 */
  margin-top:100px;
  margin-bottom:100px;
}
.regist{
	border-radius: 45px; /* 角の丸み（丸くするために大きめに設定） なってない*/
}
.update_delete {
	
}