@charset "UTF-8";

/* すべてのページに適用 - ヘッダー */

.nav ul {
  margin-bottom:100px;
  padding: 0;
  text-decoration: none; /* 下線を消す */
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 150px;
  font-size: 1.2rem;
}
.list1 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
 /* width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
  /*background-color: #FFFAF0; /* 背景色 */
  /*border: 2px solid #663300; /* 枠線 */
 /* border-radius: 35px; /* 角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
  /*transition: background-color 0.3s ease; /* 背景色の変化にトランジションを適用 */
}
/*.list1 img {
  display: grid; グリッドレイアウトを使用
  grid-template-columns: auto 1fr; /画像とテキストの列を定義
  align-items: right; /右側揃え
  /*margin-bottom: 0px; リストアイテム間のスペースを追加
  <img src="./img/images/cathead.png" width="70" height="45"> htmlに入れる画像コード
}*/
.list2 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
 /* width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
 /* background-color: #FFFAF0; /* 背景色 */
 /* border: 2px solid #663300; /* 枠線 */
 /* border-radius: 35px; /* 角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
  /*transition: background-color 0.3s ease; /* 背景色の変化にトランジションを適用 */
}
.list3 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
  /*width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
 /* background-color: #FFFAF0; /* 背景色 */
 /* border: 2px solid #663300; /* 枠線 */
 /* border-radius: 35px; /* 角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
 /* transition: background-color 0.3s ease; /* 背景色の変化にトランジションを適用 */
}
.list4 {
  font-size: 22px; /* フォントサイズ */
  color: #663300; /* 文字色 */
  margin-bottom: 10px; /* 下のマージン */
 /* width: 5em;/*フォームの横の長さ*/
 /* text-align:center;/*文字を真ん中にする*/
 /* padding: 10px 20px; /* 内側の余白 */
  /*background-color: #FFFAF0; /* 背景色 */
 /* border: 2px solid #663300; 枠線 */
 /* border-radius: 35px;  角の丸み（丸くするために大きめに設定） */
 /* display: inline-block; /* 幅を内容に合わせるためにインラインブロックに設定 */
 /* transition: background-color 0.3s ease*; / 背景色の変化にトランジションを適用 */
}
/*.list4 img {
  display: grid; グリッドレイアウトを使用
  grid-template-columns: auto 1fr;  画像とテキストの列を定義
  align-items: right; 中央揃え
  margin-bottom: 0px; リストアイテム間のスペースを追加
  <img src="./img/images/catshipo1.png" width="60" height="50"> htmlに入れる画像コード
}*/
.nav a:link {
  color:#663300;
  text-decoration: none; /* 下線を消す */
}
.nav a:visited {
  color: #663300;
}
.nav a:hover {
  color: #663300;
  text-decoration: underline;
}
.nav a:active {
  color: #663300;
  text-decoration: none;
}
/* すべてのページに適用 - メイン */
.m { /*ログインフォームの位置*/
   display: grid;
   place-items: center; /* 水平方向と垂直方向に中央配置 */
   margin-bottom:100px; /*フォーム下のマージン調整*/
}
.n { /*新規登録フォームの位置*/
   display: grid;
   place-items: center; /* 水平方向と垂直方向に中央配置 */
   margin-bottom:100px; /*フォーム下のマージン調整*/
}

main h1 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding:0 0 5px 0;
    color:#663300;
    font-size:1.8rem;

}

main h2 {
    margin-bottom:10px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding: 0 0 5px 0;
    color: #663300;
    font-size:2rem;
}

.h1 {/*h1の枠線デザイン*/
    margin-bottom:50px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    padding: 20px ;
	padding-bottom:80px;
	padding-right:100px;
	padding-left:100px;
    color:#663300;
    font-size:1.7rem;
	border-style: ridge ;
	border-width: 6px ;
	border-color: #D2B48C;
    border-top-left-radius :50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
	/*h1枠線デザイン丸ver*/
	/*border-style: dotted ;
	padding: 10px ;
	border-width: 5px ;
	border-color: #663300*/
.h2 {/*h1の枠線デザイン*/
    margin-bottom:70px;
    text-align:center;
    border-bottom: 4px dashed #996633;
    color:#663300;
    font-size:1.7rem;
	border-style: ridge ;/*ここから枠線のcss*/
	padding: 20px ;
	padding-bottom:80px;
	padding-right:100px;
	padding-left:100px;
	border-width: 6px ;
	border-color: #D2B48C;
	border-top-left-radius :50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
	/*h1枠線デザイン丸ver*/
	/*border-style: dotted ;
	padding: 10px ;
	border-width: 5px ;
	border-color: #663300*/
}
/*画像の配置やマージン*/
.login {
  text-align:right;
}
.Add {
  text-align:right;
}
.mach {
	margin-bottom:20px;
	text-align:right;
}
.visit {
	margin-bottom:0px;
	text-align:center;
}
.diary {
	margin-bottom:0px;
	text-align:left;
}
.function {
   float: right;

}


/*form*/
form {
  padding: 0px;
  color:#663300;
  text-align:center;
}
/*
input[name=name] {
  width: 16em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
*/
input[name=user_password] {
  width: 13em;
  height: 30px;
  text-align:center;
  border-top-left-radius:20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
input[name=user_id] {
  width:13em;
  height: 30px;
  text-align:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
input[type=submit], input[type=reset] {
  width: 6em;
  height: 40px;
  text-align:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*
input[name=number]{
  width: 8em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
*/
input[name=user_name]{
  width: 13em;
  height: 30px;
  text-align:center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
/*
input[name=adress]{
  width: 20em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}


input[name=phonenumber]{
  width: 12em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

input[name=email]{
  width: 16em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

input[name=remarks]{
  width: 50em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}*/

/* すべてのページに適用 - フッター */
.gotop {
    text-align: center;
}
.copyright {
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #D2B48C;
    color: #FFFFFF;
    text-align: center;
}

/* 個別のスタイル */
/* index.html */
/* モバイル対応 */
@media(max-width: 767px) {
}
/* エラーメッセージ */
#error_message {
  color: red;
}
/* 新規登録*/

.user {
    align-items: center;
}